body{
    background-color: cadetblue;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    color: rgb(233, 242, 247);
}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.txt{
    font-size: 40px;
    font-weight: bold;
}
#btn-container{
    text-align: center;
    margin-top: 40px;
}
.btn{
    padding:7px 25px;
    font-size: 25px;
    margin:0px 10px;
    color:white;
    border: 0px;
    cursor: pointer;
}
#stop{
    background-color: green;
}
#start{
    background-color: blue;
}
#reset{
    background-color: red;
}